body {
	font-family: Arial, serif;
}

.wrap {
	max-width: 400px;
	margin: 20px auto;
}

.greeting {
	font-size: 18px;
}

.login-form {
	width: 100%;
}

.label {
	display: block;
	margin-top: 10px;
}

.label:after {
	content: ':';
}

.input {
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

.btn {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

.error-btn {
	background: #ff0000;
	color: #fff;
}